# Visual Studio / .NET Core / C#
[Bb]in/
[Oo]bj/
.vs/
*.user
*.userosscache
*.suo
*.userprefs
*.DotSettings.user

# NuGet Packages
packages/
*.nupkg

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
